<h5 class="mt-4">التقييم النسبي (مضاعفات السوق)</h5>
<div class="form-group">
    <label for="pe_ratio">مضاعف الربحية (P/E):</label>
    <input type="number" class="form-control" name="pe_ratio" id="pe_ratio" step="0.01" value="{{ form_data.pe_ratio }}">
</div>
<div class="form-group">
    <label for="pb_ratio">مضاعف القيمة الدفترية (P/B):</label>
    <input type="number" class="form-control" name="pb_ratio" id="pb_ratio" step="0.01" value="{{ form_data.pb_ratio }}">
</div>
<div class="form-group">
    <label for="ev_ebitda">EV/EBITDA:</label>
    <input type="number" class="form-control" name="ev_ebitda" id="ev_ebitda" step="0.01" value="{{ form_data.ev_ebitda }}">
</div>
